<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  LabWorks</title>
    <link href="~/img/favicon2.png" rel="icon" />
    <link href="~/img/favicon2.png" rel="favicon2-icon"/>
   
<!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/Invoicee.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication.styles.css" asp-append-version="true" />
     
</head>
<body>
     <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm 
                    navbar-light box-shadow
                    mb-3 custom-navbar">

            <div class="container-fluid">
                
                <a class="navbar-brand custom-home " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link my-custom-styleA" asp-area="" asp-controller="Activities" asp-action="Index">Activities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-Search" asp-area="" asp-controller="Activities" asp-action="ShowSearchForm">Search</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link custom-invoice" asp-area="" asp-controller="Home" asp-action="ShowInvoice">Invoice</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
                
            </div>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>