@model Application.Models.Activity

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Activity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Amprentare" class="control-label"></label>
                <input asp-for="Amprentare" class="form-control" />
                <span asp-validation-for="Amprentare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medic" class="control-label"></label>
                <input asp-for="Medic" class="form-control" />
                <span asp-validation-for="Medic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacient" class="control-label"></label>
                <input asp-for="Pacient" class="form-control" />
                <span asp-validation-for="Pacient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manopera" class="control-label"></label>
                <input asp-for="Manopera" class="form-control" />
                <span asp-validation-for="Manopera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Componente" class="control-label"></label>
                <input asp-for="Componente" class="form-control" />
                <span asp-validation-for="Componente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Elemente" class="control-label"></label>
                <input asp-for="Elemente" class="form-control" />
                <span asp-validation-for="Elemente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pret_Element" class="control-label">Pret/Element</label>
                <input asp-for="Pret_Element" class="form-control" />
                <span asp-validation-for="Pret_Element" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pret_Manopera" class="control-label">Pret/Manopera</label>
                <input asp-for="Pret_Manopera" class="form-control" />
                <span asp-validation-for="Pret_Manopera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adaos" class="control-label"></label>
                <input asp-for="Adaos" class="form-control" />
                <span asp-validation-for="Adaos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pret_Final" class="control-label">Total Pret</label>
                <input asp-for="Pret_Final" class="form-control" />
                <span asp-validation-for="Pret_Final" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status_plata" class="control-label">Status Plata</label>
                <input asp-for="Status_plata" class="form-control" />
                <span asp-validation-for="Status_plata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livrare" class="control-label"></label>
                <input asp-for="Livrare" class="form-control" />
                <span asp-validation-for="Livrare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_incasarii" class="control-label">Data Incasarii</label>
                <input asp-for="Data_incasarii" class="form-control" />
                <span asp-validation-for="Data_incasarii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentiuni" class="control-label"></label>
                <input asp-for="Mentiuni" class="form-control" />
                <span asp-validation-for="Mentiuni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(function () {

            var elementeInput = $('input[name="Elemente"]');
            var pretElementInput = $('input[name="Pret_Element"]');
            var pretManoperaInput = $('input[name="Pret_Manopera"]');

            elementeInput.on('input', updateTotal);
            pretElementInput.on('input', updateTotal);

            function updateTotal() {
                var Elemente = elementeInput.val();
                var Pret_Element = pretElementInput.val();
                var Pret_Manopera = Elemente * Pret_Element;
                pretManoperaInput.val(Pret_Manopera);
            }
        });
    </script>
    <script>
        $(document).ready(function () {

            var pretManoperaInput = $('#Pret_Manopera');
            var adaosInput = $('#Adaos');
            var pretFinalInput = $('#Pret_Final');

            adaosInput.on('input', calculateSum);
            pretManoperaInput.on('input', calculateSum);

            function calculateSum() {
                var Pret_Manopera = pretManoperaInput.val();
                var Adaos = adaosInput.val();
                var sum = +(Pret_Manopera) + (+Adaos);
                pretFinalInput.val(sum);
            }
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
