
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/css/Invoicee.css" rel="stylesheet" asp-append-version="true" />
    <style>
       .back {
            color:white;
        }

        .back:hover {
            color: yellow;
        }
    </style>
</head>
<body  >
    <div id="chenar" style="margin-top: 35px; margin-bottom:30px;">
        <table width="999" border="0" cellspacing="0" cellpadding="0">

            <tbody>
                <tr>

                    <td class="tabel_sus_padding" width="327">Furnizor:<input type="text" id="furnizor_input" fdprocessedid="43m4kb"></td>

                    <td id="align_seria_sus" width="328">Seria</td>

                    <td class="tabel_sus_padding" width="327"><input type="text" class="seria_nr_input" fdprocessedid="aj0t0w"> nr. <input type="text" class="seria_nr_input"></td>

                </tr>

                <tr>

                    <td class="tabel_sus_padding">Nr. ord. reg. com./an:<input type="text" class="nr_reg_com_input" fdprocessedid="srlhz"></td>

                    <td rowspan="3"><h1>FACTURA</h1></td>

                    <td class="tabel_sus_padding">Cumparator<input type="text" id="cumparator_input"></td>

                </tr>

                <tr>

                    <td class="tabel_sus_padding">C.I.F.:<input type="text" class="cif_input" fdprocessedid="d4bxh"></td>

                    <td class="tabel_sus_padding">Nr. ord. reg. com./an:<input type="text" class="nr_reg_com_input"></td>

                </tr>

                <tr>

                    <td class="tabel_sus_padding">Capital social:<input type="text" id="capital_social_input" fdprocessedid="s6cpul"></td>

                    <td class="tabel_sus_padding">C.I.F.:<input type="text" class="cif_input" fdprocessedid="iqkjc"></td>

                </tr>

                <tr>

                    <td class="tabel_sus_padding">Sediul<input type="text" class="sediul_input" fdprocessedid="0vwld"></td>

                    <td id="border_cub_sus">Nr. facturii<input type="text" id="nr_facturii_input" fdprocessedid="c4ur2p"></td>

                    <td class="tabel_sus_padding">Sediul<input type="text" class="sediul_input" fdprocessedid="i0ye2y"></td>

                </tr>

                <tr>

                    <td class="tabel_sus_padding">Judetul<input type="text" class="judetul_input" fdprocessedid="opn8qh"></td>

                    <td id="border_cub_mijloc">Data (ziua, luna, anul)<input type="text" id="data_facturii_input" fdprocessedid="w4zlvb"></td>

                    <td class="tabel_sus_padding">Judetul<input type="text" class="judetul_input" fdprocessedid="e7ehpa"></td>

                </tr>

                <tr>

                    <td class="tabel_sus_padding">Cod IBAN<input type="text" class="iban_input" fdprocessedid="4wsb3"></td>

                    <td id="border_cub_jos">Nr. aviz insotire a marfii<input type="text" id="nr_aviz_input" fdprocessedid="23a46"></td>

                    <td class="tabel_sus_padding">Cod IBAN<input type="text" class="iban_input"></td>

                </tr>

                <tr>

                    <td class="tabel_sus_padding">Banca<input type="text" class="banca_input" fdprocessedid="lt3spe"></td>

                    <td class="tabel_sus_padding">&nbsp;</td>

                    <td class="tabel_sus_padding">Banca<input type="text" class="banca_input" fdprocessedid="08owy8"></td>

                </tr>

            </tbody>
        </table>

        <table width="999" border="0" cellspacing="0" cellpadding="0">

            <tbody>
                <tr>

                    <td width="50px" class="border_sus_jos">Nr.<br>Crt</td>

                    <td width="440px" class="border_sus_jos_stanga">
                        Denumirea produselor<br>

                        sau a serviciilor
                    </td>

                    <td width="49px" class="border_sus_jos_stanga">U.M.</td>

                    <td width="79px" class="border_sus_jos_stanga">Cantitatea</td>

                    <td width="125px" class="border_sus_jos_stanga">Pretul unitar<br>-lei-<br></td>

                    <td width="125px" class="border_sus_jos_stanga">Valoarea<br>-lei-</td>


                </tr>

                <tr>

                    <td class="border_jos"><h6></h6></td>

                    <td class="border_stanga_jos"><h6></h6></td>

                    <td class="border_stanga_jos"><h6></h6></td>

                    <td class="border_stanga_jos"><h6></h6></td>

                    <td class="border_stanga_jos"><h6></h6></td>

                    <td class="border_stanga_jos"><h6></h6></td>

                </tr>

                <!-- Loop through the rows -->
                @for (int i = 0; i < 25; i++)
                {
                    <tr>
                        <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="7coxa7"></td>
                        <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="pgmfcd"></td>
                        <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="zz2o2"></td>
                        <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="mn2pn"></td>
                        <td class="border_stanga"><input type="text" class="pret" fdprocessedid="lbgkip"></td>
                        <td class="border_stanga"><input type="text" class="totalmic"></td>
                    </tr>
                }

            </tbody>
        </table>



        <table width="999" border="0" cellspacing="0" cellpadding="0">

            <tbody>
                <tr>

                    <td width="195" rowspan="3" class="border_sus2">Semnatura si stampila<br>furnizorului</td>

                    <td width="413" class="border_sus_stanga2">Date privind expeditia:</td>

                    <td width="119" rowspan="4" class="border_sus_stanga3">
                        Total<br>

                        din care:<br>

                        accize
                    </td>


                    <td width="125" rowspan="2" class="border_sus_stanga"><input type="text" id="total" name="total" readonly></td>

                </tr>

                <tr>

                    <td class="border_stanga_tabel3">Numele delegatului<input type="text" id="tabel3_nume_delegat_input" fdprocessedid="rggg3"></td>

                </tr>

                <tr>

                    <td class="border_stanga_tabel3">B.I./C.I. seria <input type="text" id="tabel3_buletin_seria_input" fdprocessedid="e3f54s"> nr. <input type="text" id="tabel3_buletin_nr_input" fdprocessedid="mw65l"> eliberat(a) <input type="text" id="tabel3_buletin_eliberat_input" fdprocessedid="i52dgh"></td>


                    <td rowspan="2" class="border_sus_stanga"><input type="text" class="accize_input"></td>

                </tr>

                <tr>

                    <td class="padding_tabel_jos">NUME<input type="text" id="tabel3_nume_input" fdprocessedid="8tnih"></td>

                    <td class="border_stanga_tabel3">Mijlocul de transport <input type="text" id="tabel3_mijloc_transport_input" fdprocessedid="clzjnc"> nr. <input type="text" id="tabel3_mijloc_transport_nr_input" fdprocessedid="aefrx"></td>

                </tr>

                <tr>

                    <td class="padding_tabel_jos">PRENUME<input type="text" id="tabel3_prenume_input" fdprocessedid="2gr6ms"></td>

                    <td class="border_stanga_tabel3">Expedierea s-a facut in prezenta noastra la</td>

                    <td rowspan="3" class="border_sus_stanga3">
                        Semnatura<br>

                        de primire:
                    </td>

                    <td colspan="" rowspan="" ><br></td>

                </tr>

                <tr>

                    <td class="padding_tabel_jos">B.I./C.I.<input type="text" id="tabel3_buletin_input" fdprocessedid="uiae5kq"></td>

                    <td class="border_stanga_tabel3">data de <input type="text" id="tabel3_data_input" fdprocessedid="ap8ewa"> ora <input type="text" id="tabel3_ora_input" fdprocessedid="x9j0b"></td>

                </tr>

                <tr>

                    <td class="padding_tabel_jos">C.N.P.<input type="text" id="tabel3_cnp_input" fdprocessedid="s44sa2"></td>

                    <td class="border_stanga_tabel3">Semnaturile..............................................................................</td>

                </tr>

            </tbody>
        </table>
    </div>
    <div class="form-group"> <input type="submit" value="Save" class="btnSave btn-primary" /></div>
    <div class="form-group"> <input type="submit" value="New Invoice" class="btnNew btn-primary" /></div>
    <div> <a class="back" asp-action="Index">Back</a> </div>


    @section Scripts {
        <script type="text/javascript">
            // Get all the totalmic elements
            var totalMicElements = document.querySelectorAll('.totalmic');

            // Add an onchange event listener to each totalmic element
            for (var i = 0; i < totalMicElements.length; i++) {
                totalMicElements[i].addEventListener('change', function () {
                    // Get the current value of the element and convert it to a number
                    var currentValue = parseFloat(this.value) || 0;
                    if (!isNaN(currentValue)) {
                        // Get the total element and convert its value to a number
                        var totalElement = document.getElementById('total');
                        var currentTotal = parseFloat(totalElement.value);
                        
                        if (isNaN(currentTotal)) {
                            currentTotal = 0;
                        }
                        // Get the previous value of the element and convert it to a number
                        var previousValue = parseFloat(this.dataset.previousValue);
                        if (isNaN(previousValue)) {
                            previousValue = 0;
                        }
                        // Subtract the previous value from the total
                        var newTotal = currentTotal - previousValue;
                        // Add the current value to the total
                        newTotal += currentValue;
                        // Update the total element and the dataset of the current element with its current value
                        totalElement.value = newTotal.toFixed(2);
                        this.dataset.previousValue = currentValue;
                    }
                });
            }
        </script>

        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>
</html>