
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/css/Invoicee.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div id="chenar">
        <table width="999" border="0" cellspacing="0" cellpadding="0">

            <tbody>
                <tr>

                    <td class="tabel_sus_padding" width="327">Furnizor:<input type="text" id="furnizor_input" fdprocessedid="43m4kb"></td>

                    <td id="align_seria_sus" width="328">Seria</td>

                    <td class="tabel_sus_padding" width="327"><input type="text" class="seria_nr_input" fdprocessedid="aj0t0w"> nr. <input type="text" class="seria_nr_input"></td>

                </tr>

                <tr>

                    <td class="tabel_sus_padding">Nr. ord. reg. com./an:<input type="text" class="nr_reg_com_input" fdprocessedid="srlhz"></td>

                    <td rowspan="3"><h1>FACTURA</h1></td>

                    <td class="tabel_sus_padding">Cumparator<input type="text" id="cumparator_input"></td>

                </tr>

                <tr>

                    <td class="tabel_sus_padding">C.I.F.:<input type="text" class="cif_input" fdprocessedid="d4bxh"></td>

                    <td class="tabel_sus_padding">Nr. ord. reg. com./an:<input type="text" class="nr_reg_com_input"></td>

                </tr>

                <tr>

                    <td class="tabel_sus_padding">Capital social:<input type="text" id="capital_social_input" fdprocessedid="s6cpul"></td>

                    <td class="tabel_sus_padding">C.I.F.:<input type="text" class="cif_input" fdprocessedid="iqkjc"></td>

                </tr>

                <tr>

                    <td class="tabel_sus_padding">Sediul<input type="text" class="sediul_input" fdprocessedid="0vwld"></td>

                    <td id="border_cub_sus">Nr. facturii<input type="text" id="nr_facturii_input" fdprocessedid="c4ur2p"></td>

                    <td class="tabel_sus_padding">Sediul<input type="text" class="sediul_input" fdprocessedid="i0ye2y"></td>

                </tr>

                <tr>

                    <td class="tabel_sus_padding">Judetul<input type="text" class="judetul_input" fdprocessedid="opn8qh"></td>

                    <td id="border_cub_mijloc">Data (ziua, luna, anul)<input type="text" id="data_facturii_input" fdprocessedid="w4zlvb"></td>

                    <td class="tabel_sus_padding">Judetul<input type="text" class="judetul_input" fdprocessedid="e7ehpa"></td>

                </tr>

                <tr>

                    <td class="tabel_sus_padding">Cod IBAN<input type="text" class="iban_input" fdprocessedid="4wsb3"></td>

                    <td id="border_cub_jos">Nr. aviz insotire a marfii<input type="text" id="nr_aviz_input" fdprocessedid="23a46"></td>

                    <td class="tabel_sus_padding">Cod IBAN<input type="text" class="iban_input"></td>

                </tr>

                <tr>

                    <td class="tabel_sus_padding">Banca<input type="text" class="banca_input" fdprocessedid="lt3spe"></td>

                    <td class="tabel_sus_padding">&nbsp;</td>

                    <td class="tabel_sus_padding">Banca<input type="text" class="banca_input" fdprocessedid="08owy8"></td>

                </tr>

            </tbody>
        </table>

        <table width="999" border="0" cellspacing="0" cellpadding="0">

            <tbody>
                <tr>

                    <td width="50px" class="border_sus_jos">Nr.<br>Crt</td>

                    <td width="440px" class="border_sus_jos_stanga">
                        Denumirea produselor<br>

                        sau a serviciilor
                    </td>

                    <td width="49px" class="border_sus_jos_stanga">U.M.</td>

                    <td width="79px" class="border_sus_jos_stanga">Cantitatea</td>

                    <td width="125px" class="border_sus_jos_stanga">Pretul unitar<br>-lei-<br></td>

                    <td width="125px" class="border_sus_jos_stanga">Valoarea<br>-lei-</td>


                </tr>

                <tr>

                    <td class="border_jos"><h6></h6></td>

                    <td class="border_stanga_jos"><h6></h6></td>

                    <td class="border_stanga_jos"><h6></h6></td>

                    <td class="border_stanga_jos"><h6></h6></td>

                    <td class="border_stanga_jos"><h6></h6></td>

                    <td class="border_stanga_jos"><h6></h6></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="7coxa7"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="pgmfcd"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="zz2o2"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="mn2pn"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="lbgkip"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="pak979"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="f0rd8p"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="fu3jm6i"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="hokqz4"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="beyhyk"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="lrxqtv"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="s8cc9"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="mws4neja"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="j59fga"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="jv92ku"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="g3i09o"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="3e9y0c"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="2cff6"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="g4gfp"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="57v014"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="emx6p"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="gzq8sm"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="j6lbvm"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="969ikj"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="otneuh"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="cuszym"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="fu2bmc"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="62ft8"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="70l8f"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="0aplxo"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="ktek8"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="2b8pbf"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="26c59k"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="htlfz"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="zbpf5"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="l8wbww"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="aggrj"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="65xtnh"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="uh3n3"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="w1o4a"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="xtxcyd"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="pvky9k"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="qokni"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="2zfbsv"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="wxvddw"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="jj40l"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="p8wxhn"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="psfjts"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="z8kig"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="7bozw"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="jn6w0w"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="35yg4i"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="p4jsqi"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="h2n0i"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="o6j5ca"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="iupr"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="lg7u6"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="snz1rt"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="8iu4mmj"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="jmf54"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="gcwcdd"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="caynvg"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="1nyubu"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="t28hy"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="s47db"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="7tdas9"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="kh6zbs"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="9kub8f"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="y6u997"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="cn4j0s"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="hyal2j"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="8m5icq"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="5o9nmn"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="62my3"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="owscqf"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="905mvk"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="sf2ed5"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="q7v9mh"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="e8zh9l"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="itzoo"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="faar2r"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="0g92ua"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="gjx9r8n"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="xlngxm"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="hi3pa"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="x1e0bk"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="pwe4de"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="c4ot8"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="a9gku"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="vvbwnp"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="h3rg9"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="x3fz8"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="dsyxmi"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="6zhn0u"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="l3jp68"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="e984f"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="kwutjr"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="hcoo19"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="jahaa"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="zxxl1q"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="235xgi"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="dacfhq"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="ct4amf"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="p0q8v"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="yqwvt"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="km6xba"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="9opils"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="7py5wk"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="eo988b"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="rr1c06"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="1q9ku"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="zstt8j"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="j4v9bk"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="6k457"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="0x3koo"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>

                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="23wwj"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="g6n6je"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="gcybvq"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="edza8p"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="0ygy1"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="tqyq1y"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="j47disi"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="7apuw"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="wyd29l"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="e6ff2"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="tbg628"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="g0gsa7"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="bsj1kl"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="oezirf"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="l9p4mp"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="37xgz"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="xogrdo"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="tm1dkb"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="5m5fy"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="ov833"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="pgy5qoc"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="nmrj8"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="8rx17d"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="vyxgnk"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="idimv"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="45n5pe"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="n8p43q"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="dpwc0s"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="9vzusf"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="crlxi"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="fxon2j"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="389mf"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="f03ou6"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="f17r7l"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="6e9s7"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="bpqge"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="zisqjm"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="1zhsdg"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="tg9vl"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="4i5ug"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="n9vc1t"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="29kao"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="nvt4d"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="llg5ej"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="feo78q"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="t2mbej"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="4otcg"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="fghbs5"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="e3zg0h"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="9ka73g"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="fhmqv7"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="lz8sg"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="wovy6"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="mkdpbo"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="vuxpfl"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="1nm3uk"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="wd9aqp"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="7gzvp"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="39uzfo"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="zsl1fn"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="j3y33r"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="l0r82c"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="c2p3p"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="07lzff"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="tg0hb7"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="gymwa7"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="usksxl"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="qn0f6"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="6cawk"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="in744w"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="yah398"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="bfhazo"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="exx4gs"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="kssw37"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="ibcbhr"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="wpjdsp"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="r5ebtj"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="wy5qce"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="fsfk0p"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="rvqhb"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="ijp31m"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="yuoagm"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="m1trfp"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="7xyr9"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="cy3457"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="g5xpna"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="4zwo"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="l8hnjn"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="fltytr"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="ca1fi"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="d571ze"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="8103"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="rvungh"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="r422n"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="wztn2"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="dv3qkt"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="gfnofp"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="56hjya"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="ytenam"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="gs6yh"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="lc1ay"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="yur40r"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="g31jnc"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="1ybjhm"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="vmns5a"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="m62r4"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="fbwas"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="z797ge"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="01plw"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="u11j3"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="y7s9wc"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="5j1z2s"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="0dh7l7"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="tsvwz9"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="ow2l5b"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="0gj05k"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="galp1p"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="04kavl"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="eftkd4"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="xp9gvu"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="xwo1oi"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="umg8gm"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="vafajv"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="i954e9"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="v9kdem"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="ha1etl"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="0q7tr"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="3107ab"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="xm106q"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="x96dbn"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

                <tr>

                    <td class="center"><input type="text" class="nr_crt_input" fdprocessedid="86vd3"></td>

                    <td class="border_stanga"><input type="text" class="denumire_prod_input" fdprocessedid="no9bta"></td>

                    <td class="border_stanga"><input type="text" class="nr_crt_input" fdprocessedid="lk1hv4"></td>

                    <td class="border_stanga"><input type="text" class="cantitate" fdprocessedid="p0p536"></td>

                    <td class="border_stanga"><input type="text" class="pret" fdprocessedid="qq9guk"></td>

                    <td class="border_stanga"><input type="text" class="totalmic"></td>


                </tr>

            </tbody>
        </table>



        <table width="999" border="0" cellspacing="0" cellpadding="0">

            <tbody>
                <tr>

                    <td width="195" rowspan="3" class="border_sus2">Semnatura si stampila<br>furnizorului</td>

                    <td width="413" class="border_sus_stanga2">Date privind expeditia:</td>

                    <td width="119" rowspan="4" class="border_sus_stanga3">
                        Total<br>

                        din care:<br>

                        accize
                    </td>


                    <td width="125" rowspan="2" class="border_sus_stanga"><input type="text" class="totalmaretva"></td>

                </tr>

                <tr>

                    <td class="border_stanga_tabel3">Numele delegatului<input type="text" id="tabel3_nume_delegat_input" fdprocessedid="rggg3"></td>

                </tr>

                <tr>

                    <td class="border_stanga_tabel3">B.I./C.I. seria <input type="text" id="tabel3_buletin_seria_input" fdprocessedid="e3f54s"> nr. <input type="text" id="tabel3_buletin_nr_input" fdprocessedid="mw65l"> eliberat(a) <input type="text" id="tabel3_buletin_eliberat_input" fdprocessedid="i52dgh"></td>


                    <td rowspan="2" class="border_sus_stanga"><input type="text" class="accize_input"></td>

                </tr>

                <tr>

                    <td class="padding_tabel_jos">NUME<input type="text" id="tabel3_nume_input" fdprocessedid="8tnih"></td>

                    <td class="border_stanga_tabel3">Mijlocul de transport <input type="text" id="tabel3_mijloc_transport_input" fdprocessedid="clzjnc"> nr. <input type="text" id="tabel3_mijloc_transport_nr_input" fdprocessedid="aefrx"></td>

                </tr>

                <tr>

                    <td class="padding_tabel_jos">PRENUME<input type="text" id="tabel3_prenume_input" fdprocessedid="2gr6ms"></td>

                    <td class="border_stanga_tabel3">Expedierea s-a facut in prezenta noastra la</td>

                    <td rowspan="3" class="border_sus_stanga3">
                        Semnatura<br>

                        de primire
                    </td>

                    <td colspan="2" rowspan="3" id="total_plata">Total de plata<br><input type="text" id="final"></td>

                </tr>

                <tr>

                    <td class="padding_tabel_jos">B.I./C.I.<input type="text" id="tabel3_buletin_input" fdprocessedid="uiae5kq"></td>

                    <td class="border_stanga_tabel3">data de <input type="text" id="tabel3_data_input" fdprocessedid="ap8ewa"> ora <input type="text" id="tabel3_ora_input" fdprocessedid="x9j0b"></td>

                </tr>

                <tr>

                    <td class="padding_tabel_jos">C.N.P.<input type="text" id="tabel3_cnp_input" fdprocessedid="s44sa2"></td>

                    <td class="border_stanga_tabel3">Semnaturile..............................................................................</td>

                </tr>

            </tbody>
        </table>
    </div>
        <div id="newPage"><button onclick="myFunction()"> New Invoice </button> </div>
        <div id="save"><button onclick="myFunction()"> Save </button> </div> 
    <div>
        <a asp-action="Index">Back</a>
    </div>
    @section Scripts {
        <script type="text/javascript">
            $("tr").on("keyup", function () {

           var totalmic=0;
           
           $(".totalmic").each(function() {
               val = parseFloat($(this).val()) || 0;
               total= val ? parseFloat(totalmic +val);
           });
           parseFloat($(".totalmaretva").val(totalmic.toFixed(2)));

           var final= totalmaretva;
           parseFloat($("#final").val(final.toFixed(2)));

            });
        </script>

        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }


</body>
</html>